---
page_title: "{{.ProviderShortName}} Provider"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.ProviderShortName}} Provider

{{ .Description | trimspace }}

~> **Warning**
This plugin is in early alpha! Functionality is incomplete, and may be broken. Expect bugs, and [please report them](https://github.com/msgraphtf/terraform-provider-msgraph/issues)!
Releases may contain undocumented breaking changes, and no commitment to backwards compatibility is provided at this time.

## Known issues or missing features

- All resources and attributes are using a custom plan modifier which may not be suitable for all things.
- Not using write-only attributes where applicable.
- Lacks automated testing.
- Lacks extensive logging for troubleshooting.
- Error messages and handling can probably be improved.
- Some resources and data sources have had to be manually adjusted (`generate/augment`), such as by excluding properties. Removing/fixing this will simplify development.
- Documentation lacks examples.

## Requesting new endpoints
Not all Microsoft Graph endpoints are supported (yet). This is simply so that I don't get overwhelmed with issue reports or failed builds for the hundreds of endpoints that the Microsoft Graph API supports. So I am slowly adding new endpoints as the project matures.

That said, if you have a use case for a particular endpoint, then I am committed to adding new endpoints upon request. Please [open an issue](https://github.com/msgraphtf/terraform-provider-msgraph/issues), requesting the endpoint you want, and I will add it as soon as I can. And please provide feedback and bug reports for it.

## Authentication

This plugin supports several different methods for authenticating to Microsoft Graph:

- Authentication via Service Principal with a client secret.
  - Requires configuring the `tenant_id`, `client_id`, and `client_secret` values.
- Authentication via Service Principal with a certificate.
  - Requires configuring the `tenant_id`, `client_id`, `client_certificate` or `client_certificate_path`, and `client_certificate_password` values.
- Authentication via AzureCLI.
  - Requires no configuration. The provider will fallback to this option when the above options are not available.

{{ if .HasExample -}}
## Example Usage

{{tffile .ExampleFile }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}
